.timeline {
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 100px 100px 200px;
}

.timeline h1 {
    margin: 50px;
}

.time {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.timeline-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timeline .circle {
    height: 41px;
    width: 41px;
    background-color: #d9832e;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.timeline .circle div {
    height: 30px;
    width: 30px;
    background-color: rgb(241, 241, 241);
    border-radius: 50%;
}

.circle span {
    position: absolute;
}

.arrow-1 {
    right: 41px;
}

.arrow-2 {
    left: 41px;
}

.line {
    height: 70%;
    width: 3px;
    background-color: black;
}

.card {
    height: 130px;
    width: 250px;
    background-color: #fff;

    box-sizing: border-box;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.card h3 {
    font-size: 14px;
}

.card p {
    font-size: 12px;
}

.card a {
    font-weight: normal;
    color: black;
    text-decoration: underline;
}

@media (max-width: 890px) {
    .timeline {
        padding: 50px 0px 100px 100px;
    }
}

@media (max-width: 710px) {
    .timeline {
        padding: 50px 0 100px 0;
    }
}